.postMediaBox {
    display: flex;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.postContentMedia {
    border-radius: 10%;
    width: 28rem;
    height: 28rem;
    object-fit: cover;
    border-color: 1px solid var(--color-border);
}

.postMediaPopup {
    position: fixed;
    display: flex;
    align-self: center;
    width: 40%;
    background-color: rebeccapurple;
    flex-direction: column;
    border: 1px solid purple;
}

.postMediaPopupBody {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1.5rem;
    padding: 1rem;
    border: 1px solid red;
}

.postMidiaPopupHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid green;
    gap: 1.5rem;
    padding: 1rem;
}

.postMediaPopupArrow {
    color: var(--color-text-secondary);
}