server:
  port: 8000
constants:
  audio-path: /data/audio/
spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      value-deserializer:
  application:
    name: elastic-search-service
  data:
    elasticsearch:
      repositories:
        enabled: true
  elasticsearch:
    uris: http://127.0.0.1:9200
    username: elastic
    password: elastic